body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
#container {
    font-size: 50px;
    margin-bottom: 20px;
    -webkit-text-stroke: 2px black;
    color: transparent;
}
#increment ,#Decrement{
    color: white;
    letter-spacing: 2px;
    margin-left: 5px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(rgb(0, 255, 255),rgb(0, 38, 255));
    border-radius: 20px;
    border: none;
    outline: none; 
    box-shadow: 3px 5px 10px black;

}
 h1 {
    font-size: 50px;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    letter-spacing: 6px;
 }